@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&family=Space+Mono:ital,wght@0,700;1,700&display=swap");

:root {
  --serif-font: "Space Mono", monospace;
  --sans-serif-font: "Raleway", sans-serif;
  --bg-color: #000;
  // --bg-color: rgb(112, 112, 112);
  --accent-color: #ff1e56;
  --dark-accent: #350e18;
  --light-color: #fff;
  --light-grey: #c0c0c0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-white {
  color: var(--light-color);
}

.text-grey {
  color: var(--light-grey);
}

.text-accent {
  color: var(--accent-color);
}

svg {
  fill: white;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: clamp(40px, 8vw, 80px);
  font-family: var(--sans-serif-font);
  letter-spacing: 0.03rem;
}

h2 {
  font-size: clamp(30px, 8vw, 50px);
  font-family: var(--sans-serif-font);
  letter-spacing: 0.03rem;
}

h3 {
  font-family: var(--sans-serif-font);
  font-size: clamp(20px, 8vw, 30px);
  letter-spacing: 0.03rem;
}

p {
  font-size: clamp(0.75rem, calc(0.75rem + 0.226vw), 1.25rem);
  line-height: 1.35rem;
  letter-spacing: 0.03rem;
  font-family: var(--sans-serif-font);
}

a {
  font-size: clamp(0.75rem, calc(0.75rem + 0.226vw), 1rem);
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-type: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 20px;
}

body {
  overflow-x: hidden;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-12 {
  grid-template-columns: repeat(12, 1fr);
}

body {
  background-color: var(--bg-color);
  //   z-index: -10;
  color: var(--light-color);
}

img {
  width: 100%;
}

.line {
  background-color: var(--light-grey);
  width: 2px;
  height: 100px;
}

.h-line {
  position: relative;
  margin: 0.75rem;
  margin-left: -3rem;
  height: 2px;
  width: 150px;
  background-color: var(--light-grey);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// !Navbar
.navbar {
  //   display: none;
  padding: 20px 40px;
  width: 100vw;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.797);

  img {
    width: 75%;
  }
  nav a {
    font-family: var(--serif-font);
    margin-left: 2.5rem;
    color: var(--light-grey);
    transition: all ease-in 0.1s;
    &:hover {
      color: var(--accent-color);
    }
  }
}

// !CONTACT MAIL
.contact-mail {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 10px;
  z-index: 10;
  font-family: var(--serif-font);
  flex-direction: column;
  a {
    writing-mode: vertical-rl;
    color: var(--light-grey);
    margin-bottom: 1.25rem;
    transition: all ease-in 0.2s;
    &:hover {
      color: var(--accent-color);
      transform: translateY(-0.5rem);
    }
  }
}

// !Social Links
.social-links {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 10px;
  right: auto;
  z-index: 10;
  flex-direction: column;
  i {
    font-size: 1.75rem !important;
    margin-bottom: 1.25rem;
    cursor: pointer;
    transition: all ease-in 0.2s;
    color: var(--light-grey);

    &:hover {
      color: var(--accent-color);
      transform: translateY(-0.5rem);
    }
  }
}

.text-center {
  text-align: center;
}

// *MAIN
main {
  min-height: 200vh;
  width: 60vw;
  margin: 0 auto;
}

// !Hero Section
.hero {
  //   display: none;
  padding: 30px;
  min-height: 100vh;
  .hi {
    font-family: var(--serif-font);
    font-style: italic;
    margin-bottom: 1em;
  }

  .desc {
    font-family: var(--sans-serif-font);
    max-width: 700px;
    margin-top: 1rem;
  }
}

.btn {
  display: inline-block;
  font-family: var(--serif-font);
  padding: 10px 20px;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  margin-top: 1.5rem;
  border-radius: 5px;
  transition: all ease-in 0.1s;

  &:hover {
    background-color: #ff1e565b;
    color: var(--light-color);
  }
}

// !About Me
.about-me {
  padding: 200px 0;
  img {
    border-radius: 5px;
    width: 100%;
    height: auto;
    max-height: 500px;
  }
  .about-me-text {
    grid-column: 2 / span 3;
    letter-spacing: 0.03rem;
    h2 {
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 0.75rem;
      font-family: var(--sans-serif-font);
      span {
        color: var(--accent-color);
        font-family: var(--serif-font);
      }
    }
  }
}

.hamburger-menu {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  background-color: var(--light-color);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
  background-color: var(--light-color);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: var(--light-color);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0%;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: var(--accent-color);

  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -60%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: var(--accent-color);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  font-size: 1.25rem;
  margin-left: 2rem;
  color: var(--light-color);
  font-family: var(--serif-font);
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  color: var(--bg-color);
}

.menu__item:checked ~ .menu__box {
  visibility: hidden;
}

// !SKILLS
.skills {
  min-height: 400px;
  padding-bottom: 100px;
  h2 {
    margin-bottom: 4rem;
  }

  .skills-wrapper {
    margin-top: 1.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    padding: 0 80px;

    .card {
      justify-content: center;
      width: 10%;
      max-width: 106px;
      min-width: 80px;
      aspect-ratio: 1/1;
      border: 1px solid var(--accent-color);
      border-radius: 10px;
      cursor: pointer;
      transition: all ease-in-out 0.2s;
      &:hover {
        transform: scale(1.1);
        box-shadow: 0px 5px 30px rgba(255, 30, 86, 0.711);
      }
      img {
        height: 50%;
        width: 50%;
      }
    }
  }
}

// !CONTACT
.contact-page {
  padding-bottom: 100px;
  h2 {
    margin-bottom: 4rem;
  }
  form {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 1.5rem auto;

    input[type="text"],
    input[type="email"],
    textarea {
      margin-bottom: 1rem;
      font-family: var(--sans-serif-font);
      padding: 15px;
      background-color: var(--bg-color);
      border: 1px solid var(--accent-color);
      color: var(--light-color);
      font-size: 1rem;
      &:focus-visible {
        outline: 2px solid var(--accent-color);
      }
    }
    .submit-btn {
      margin-top: 0.25rem;
      width: 100px;
      background-color: transparent;
      cursor: pointer;
      transition: all ease-in 0.1s;

      &:hover {
        background-color: #ff1e565b;
        color: var(--light-color);
      }
    }
  }
}

// !FOOTER
footer {
  display: none !important;
  flex-direction: column;
  padding-bottom: 50px;
  .footer-links {
    flex-direction: column;
    width: 100%;
    padding: 25px 0;
    // border: 1px solid var(--accent-color);
    .footer-social-links {
      // width: 25%;
      justify-content: space-around;
      margin-bottom: 1.5rem;
      i {
        margin: 0 1rem;
        font-size: 2rem !important;
        cursor: pointer;
        transition: all ease-in 0.2s;
        color: var(--light-color);

        &:hover {
          color: var(--accent-color);
        }
      }
    }
    .footer-contact-mail {
      a {
        font-family: var(--serif-font);
        &:hover {
          color: var(--accent-color);
        }
      }
    }
  }
}

// !PROJECTS
.projects {
  padding: 200px 0;
  h2 {
    margin-bottom: 4rem;
  }
  .projects-wrapper {
    justify-content: space-between;
    // justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 20px;
    .project-box {
      width: 45%;
      min-width: 450px;
      background-color: var(--dark-accent);
      margin-bottom: 4rem;

      .project-text {
        padding: 1.5rem 2rem;
        span {
          color: var(--accent-color);
          font-family: var(--serif-font);
        }
        ul li {
          font-size: 1rem;
          display: inline-block;
          font-family: var(--serif-font);
          color: var(--accent-color);
        }

        ul > *:not(:last-child) {
          margin-right: 0.75rem;
        }
        .project-btn {
          margin-right: 1rem;
        }
      }

      .project-text > *:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}

$small: 500px;
$medium: 900px;

@media screen and (max-width: $medium) {
  main {
    width: 90vw;
  }
  .contact-mail,
  .social-links {
    display: none;
  }

  .skills {
    padding-bottom: 0;
    .skills-wrapper {
      gap: 25px;
    }
  }

  footer {
    display: flex !important;
  }

  .projects {
    .projects-wrapper {
      justify-content: center;
    }
  }
}
@media screen and (max-width: $small) {
  .navbar {
    nav {
      display: none;
    }
  }
  .hamburger-menu {
    display: block;
  }
  main {
    padding: 0 25px;
  }

  .about-me {
    .about-me-text {
      text-align: center;
    }
  }
  .skills {
    .skills-wrapper {
      padding: 0;
      .card {
        min-width: 60px;
      }
    }
  }
  .projects {
    .projects-wrapper {
      .project-box {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1532px) {
  .projects {
    .projects-wrapper {
      justify-content: center;

      .project-box {
        min-width: 80%;
        img {
          // aspect-ratio: 16/9;
          height: 350px;
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .about-me {
    grid-template-columns: 1fr;
    .img-overlay {
      order: 1;
      img {
        width: 75%;
      }
    }
    .about-me-text {
      grid-column: 1;
      h2 {
        text-align: center;
      }
    }
  }
}
