@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&family=Space+Mono:ital,wght@0,700;1,700&display=swap");
:root {
  --serif-font: "Space Mono", monospace;
  --sans-serif-font: "Raleway", sans-serif;
  --bg-color: #000;
  --accent-color: #ff1e56;
  --light-color: #fff;
  --light-grey: #c0c0c0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

svg {
  fill: white;
}

h1 {
  font-size: clamp(40px, 8vw, 80px);
  font-family: var(--sans-serif-font);
  letter-spacing: 0.03rem;
}

h2 {
  font-size: clamp(30px, 8vw, 50px);
  font-family: var(--sans-serif-font);
  letter-spacing: 0.03rem;
}

h3 {
  font-family: var(--sans-serif-font);
  font-size: clamp(20px, 8vw, 30px);
  letter-spacing: 0.03rem;
}

h4 {
  font-size: clamp(0.875rem, calc(0.875rem + 0.8757vw), 2.8125rem);
}

p {
  font-size: clamp(0.75rem, calc(0.75rem + 0.226vw), 1.25rem);
  line-height: 1.35rem;
  letter-spacing: 0.03rem;
  font-family: var(--sans-serif-font);
}

a {
  font-size: clamp(0.75rem, calc(0.75rem + 0.226vw), 1rem);
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.grid-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

body {
  background-color: var(--bg-color);
  z-index: -10;
  color: var(--light-color);
}

img {
  width: 100%;
}

.navbar {
  padding: 40px;
  max-height: 140px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.797);
}

.navbar img {
  width: 40px;
}

.navbar nav a {
  font-family: var(--serif-font);
  margin-left: 2.5rem;
  color: var(--light-grey);
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
}

.navbar nav a:hover {
  color: var(--accent-color);
}

.line {
  background-color: var(--light-grey);
  width: 2px;
  height: 100px;
  margin-top: 1.25rem;
}

.contact-mail {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

.contact-mail a {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-family: var(--serif-font);
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  color: var(--light-grey);
}

.contact-mail a:hover {
  color: var(--accent-color);
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.contact-mail .line {
  height: 200px;
}

.social-links {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: auto;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

.social-links i {
  font-size: 1.75rem !important;
  margin-top: 1.25rem;
  cursor: pointer;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  color: var(--light-grey);
}

.social-links i:hover {
  color: var(--accent-color);
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

main {
  min-height: 200vh;
  width: 60vw;
  margin: 0 auto;
}

.hero {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.hero h1 {
  font-family: var(--sans-serif-font);
  color: var(--accent-color);
}

.hero .build-websites {
  color: var(--light-grey);
}

.hero .hi {
  font-family: var(--serif-font);
  font-style: italic;
  margin-bottom: 1em;
  color: var(--light-color);
}

.hero .desc {
  font-family: var(--sans-serif-font);
  max-width: 600px;
  margin-top: 1rem;
  color: var(--light-grey);
}

.hero .contact-me {
  display: inline-block;
  font-family: var(--serif-font);
  padding: 10px 20px;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  margin-top: 1.5rem;
  border-radius: 5px;
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
}

.hero .contact-me:hover {
  background-color: #ff1e565b;
}

.about-me {
  padding: 200px 0;
}

.about-me .img-overlay {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 300px;
  height: auto;
}

.about-me .img-overlay::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 300px;
  height: auto;
  border-radius: 5px;
  background: #ff1e56a3;
  mix-blend-mode: soft-light;
}

.about-me .img-overlay img {
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.about-me .about-me-text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  -ms-grid-column-align: center;
      justify-self: center;
  letter-spacing: 0.03rem;
}

.about-me .about-me-text h2 {
  color: var(--accent-color);
}

.about-me .about-me-text p {
  margin-bottom: 0.75rem;
  color: var(--light-color);
  font-family: var(--sans-serif-font);
}

.about-me .about-me-text p span {
  color: var(--accent-color);
  font-family: var(--serif-font);
}

.h-line {
  position: relative;
  margin: 0.75rem;
  margin-left: -3rem;
  height: 2px;
  width: 150px;
  background-color: var(--light-grey);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills {
  min-height: 400px;
  padding-bottom: 100px;
  width: 60vw;
  margin: 0 auto;
}

.skills h2 {
  margin-left: 3rem;
  color: var(--accent-color);
}

.skills .h-line {
  margin-left: 0;
}

.skills .skills-wrapper {
  padding: 0 3rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}

.skills .skills-wrapper .card {
  width: 120px;
  height: 120px;
  border: 1px solid var(--accent-color);
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.skills .skills-wrapper .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 5px 30px rgba(255, 30, 86, 0.711);
          box-shadow: 0px 5px 30px rgba(255, 30, 86, 0.711);
}

.skills .skills-wrapper .card img {
  height: 40%;
  width: 40%;
}

.projects {
  padding: 200px 0;
}

.projects h2 {
  color: var(--accent-color);
  margin-bottom: 1rem;
}

.projects .projects-wrapper + .projects-wrapper {
  padding: 80px 0;
}

.projects .projects-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.5rem;
}

.projects .projects-wrapper .project-box {
  gap: 30px;
}

.projects .projects-wrapper .project-box .project-img {
  min-height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects .projects-wrapper .project-box .project-text h3 {
  color: var(--accent-color);
}

.projects .projects-wrapper .project-box .project-text p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: -4rem;
  background-color: #4f1121;
  padding: 25px 40px;
}

.projects .projects-wrapper .project-box .project-text .skills-used {
  margin-top: 0.5rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.projects .projects-wrapper .project-box .project-text .skills-used li {
  margin-right: 1rem;
  font-family: var(--serif-font);
  color: var(--accent-color);
}

.projects .projects-wrapper .project-box .project-text .project-links {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 1rem;
  gap: 30px;
}

.projects .projects-wrapper .project-box .project-text .project-links .project-btn svg {
  width: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.projects .projects-wrapper .project-box .project-text .project-links .project-btn svg:hover {
  fill: var(--accent-color);
}

@media only screen and (max-width: 1200px) {
  .projects .projects-wrapper .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .projects .projects-wrapper .project-box {
    gap: 0;
  }
  .projects .projects-wrapper .project-box .project-img {
    min-height: auto;
    max-height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .projects .projects-wrapper .project-box .project-text {
    background-color: #4f1121;
    padding: 20px 30px;
  }
  .projects .projects-wrapper .project-box .project-text h3 {
    color: var(--accent-color);
  }
  .projects .projects-wrapper .project-box .project-text p {
    margin: 0;
    padding: 10px 0;
  }
  .skills .skills-wrapper {
    gap: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .navbar nav a {
    margin-left: 1rem;
  }
  .hero .hi {
    margin-bottom: 0.25rem;
  }
  .hero .desc {
    line-height: 1rem;
    margin-top: 0.5rem;
  }
  .hero h1 {
    line-height: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */