@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&family=Space+Mono:ital,wght@0,700;1,700&display=swap");
:root {
  --serif-font: "Space Mono", monospace;
  --sans-serif-font: "Raleway", sans-serif;
  --bg-color: #000;
  --accent-color: #ff1e56;
  --dark-accent: #350e18;
  --light-color: #fff;
  --light-grey: #c0c0c0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-white {
  color: var(--light-color);
}

.text-grey {
  color: var(--light-grey);
}

.text-accent {
  color: var(--accent-color);
}

svg {
  fill: white;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: clamp(40px, 8vw, 80px);
  font-family: var(--sans-serif-font);
  letter-spacing: 0.03rem;
}

h2 {
  font-size: clamp(30px, 8vw, 50px);
  font-family: var(--sans-serif-font);
  letter-spacing: 0.03rem;
}

h3 {
  font-family: var(--sans-serif-font);
  font-size: clamp(20px, 8vw, 30px);
  letter-spacing: 0.03rem;
}

p {
  font-size: clamp(0.75rem, calc(0.75rem + 0.226vw), 1.25rem);
  line-height: 1.35rem;
  letter-spacing: 0.03rem;
  font-family: var(--sans-serif-font);
}

a {
  font-size: clamp(0.75rem, calc(0.75rem + 0.226vw), 1rem);
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-type: none;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

body {
  overflow-x: hidden;
}

.grid-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid-12 {
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

body {
  background-color: var(--bg-color);
  color: var(--light-color);
}

img {
  width: 100%;
}

.line {
  background-color: var(--light-grey);
  width: 2px;
  height: 100px;
}

.h-line {
  position: relative;
  margin: 0.75rem;
  margin-left: -3rem;
  height: 2px;
  width: 150px;
  background-color: var(--light-grey);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  padding: 20px 40px;
  width: 100vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.797);
}

.navbar img {
  width: 75%;
}

.navbar nav a {
  font-family: var(--serif-font);
  margin-left: 2.5rem;
  color: var(--light-grey);
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
}

.navbar nav a:hover {
  color: var(--accent-color);
}

.contact-mail {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 10px;
  z-index: 10;
  font-family: var(--serif-font);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-mail a {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: var(--light-grey);
  margin-bottom: 1.25rem;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

.contact-mail a:hover {
  color: var(--accent-color);
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.social-links {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 10px;
  right: auto;
  z-index: 10;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-links i {
  font-size: 1.75rem !important;
  margin-bottom: 1.25rem;
  cursor: pointer;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  color: var(--light-grey);
}

.social-links i:hover {
  color: var(--accent-color);
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.text-center {
  text-align: center;
}

main {
  min-height: 200vh;
  width: 60vw;
  margin: 0 auto;
}

.hero {
  padding: 30px;
  min-height: 100vh;
}

.hero .hi {
  font-family: var(--serif-font);
  font-style: italic;
  margin-bottom: 1em;
}

.hero .desc {
  font-family: var(--sans-serif-font);
  max-width: 700px;
  margin-top: 1rem;
}

.btn {
  display: inline-block;
  font-family: var(--serif-font);
  padding: 10px 20px;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  margin-top: 1.5rem;
  border-radius: 5px;
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
}

.btn:hover {
  background-color: #ff1e565b;
  color: var(--light-color);
}

.about-me {
  padding: 200px 0;
}

.about-me img {
  border-radius: 5px;
  width: 100%;
  height: auto;
  max-height: 500px;
}

.about-me .about-me-text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  letter-spacing: 0.03rem;
}

.about-me .about-me-text h2 {
  margin-bottom: 1rem;
}

.about-me .about-me-text p {
  margin-bottom: 0.75rem;
  font-family: var(--sans-serif-font);
}

.about-me .about-me-text p span {
  color: var(--accent-color);
  font-family: var(--serif-font);
}

.hamburger-menu {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: var(--light-color);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  background-color: var(--light-color);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: var(--light-color);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0%;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -60%;
  width: 60%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: var(--accent-color);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  font-size: 1.25rem;
  margin-left: 2rem;
  color: var(--light-color);
  font-family: var(--serif-font);
  text-decoration: none;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item:hover {
  color: var(--bg-color);
}

.skills {
  min-height: 400px;
  padding-bottom: 100px;
}

.skills h2 {
  margin-bottom: 4rem;
}

.skills .skills-wrapper {
  margin-top: 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  padding: 0 80px;
}

.skills .skills-wrapper .card {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10%;
  max-width: 106px;
  min-width: 80px;
  aspect-ratio: 1/1;
  border: 1px solid var(--accent-color);
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.skills .skills-wrapper .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 5px 30px rgba(255, 30, 86, 0.711);
          box-shadow: 0px 5px 30px rgba(255, 30, 86, 0.711);
}

.skills .skills-wrapper .card img {
  height: 50%;
  width: 50%;
}

.contact-page {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact-page h2 {
  margin-bottom: 4rem;
}

.contact-page form {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1000px;
  margin: 1.5rem auto;
}

.contact-page form input[type="text"],
.contact-page form input[type="email"],
.contact-page form textarea {
  margin-bottom: 1rem;
  font-family: var(--sans-serif-font);
  padding: 15px;
  background-color: var(--bg-color);
  border: 1px solid var(--accent-color);
  color: var(--light-color);
  font-size: 1rem;
}

.contact-page form input[type="text"]:focus-visible,
.contact-page form input[type="email"]:focus-visible,
.contact-page form textarea:focus-visible {
  outline: 2px solid var(--accent-color);
}

.contact-page form .submit-btn {
  margin-top: 0.25rem;
  width: 100px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all ease-in 0.1s;
  transition: all ease-in 0.1s;
}

.contact-page form .submit-btn:hover {
  background-color: #ff1e565b;
  color: var(--light-color);
}

footer {
  display: none !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
}

footer .footer-links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 25px 0;
}

footer .footer-links .footer-social-links {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 1.5rem;
}

footer .footer-links .footer-social-links i {
  margin: 0 1rem;
  font-size: 2rem !important;
  cursor: pointer;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  color: var(--light-color);
}

footer .footer-links .footer-social-links i:hover {
  color: var(--accent-color);
}

footer .footer-links .footer-contact-mail a {
  font-family: var(--serif-font);
}

footer .footer-links .footer-contact-mail a:hover {
  color: var(--accent-color);
}

.projects {
  padding: 200px 0;
}

.projects h2 {
  margin-bottom: 4rem;
}

.projects .projects-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  gap: 20px;
}

.projects .projects-wrapper .project-box {
  width: 45%;
  min-width: 450px;
  background-color: var(--dark-accent);
  margin-bottom: 4rem;
}

.projects .projects-wrapper .project-box .project-text {
  padding: 1.5rem 2rem;
}

.projects .projects-wrapper .project-box .project-text span {
  color: var(--accent-color);
  font-family: var(--serif-font);
}

.projects .projects-wrapper .project-box .project-text ul li {
  font-size: 1rem;
  display: inline-block;
  font-family: var(--serif-font);
  color: var(--accent-color);
}

.projects .projects-wrapper .project-box .project-text ul > *:not(:last-child) {
  margin-right: 0.75rem;
}

.projects .projects-wrapper .project-box .project-text .project-btn {
  margin-right: 1rem;
}

.projects .projects-wrapper .project-box .project-text > *:not(:last-child) {
  margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
  main {
    width: 90vw;
  }
  .contact-mail,
  .social-links {
    display: none;
  }
  .skills {
    padding-bottom: 0;
  }
  .skills .skills-wrapper {
    gap: 25px;
  }
  footer {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .projects .projects-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  main {
    padding: 0;
  }
  .navbar nav {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .about-me {
    padding: 200px 20px 200px 20px;
  }
  .skills .skills-wrapper {
    padding: 0 25px;
  }
  .skills .skills-wrapper .card {
    min-width: 60px;
  }
  .projects .projects-wrapper .project-box {
    width: 100%;
  }
  .projects .projects-wrapper .project-box .project-text {
    padding: 0.5rem 1.25rem 1.25rem 1.25rem;
  }
  .projects .projects-wrapper .project-box .project-text h3 {
    font-size: 1.5rem;
  }
  .projects .projects-wrapper .project-box .project-text p,
  .projects .projects-wrapper .project-box .project-text ul li {
    font-size: 0.8rem;
  }
  .projects .projects-wrapper .project-box .project-text .project-btn {
    margin-top: 0.5rem;
  }
  .projects .projects-wrapper .project-box .project-text > *:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 1532px) {
  .projects .projects-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .projects-wrapper .project-box {
    min-width: 80%;
  }
  .projects .projects-wrapper .project-box img {
    aspect-ratio: 16/9;
    max-height: 350px;
    min-height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 1200px) {
  .about-me {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-me .img-overlay {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about-me .img-overlay img {
    width: 75%;
  }
  .about-me .about-me-text {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .about-me .about-me-text h2 {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */